openapi: 3.0.3
info:
  title: Banking API Specification for account operations
  description: |-
    A simple banking API that allows two operations:
    - get account balance given account number
    - deposit amount to a account
  version: 1.0-SNAPSHOT
servers:
  - url: https://testenvironment.org/api/
  - url: https://prodenvironment.org/api/
tags:
  - name: accounts
    description: Operations between bank accounts
paths:
  /account/{accountId}:
    get:
      tags:
        - accounts
      summary: Get account information
      description: Get account information using account number
      operationId: getAccount
      parameters:
        - name: accountId
          in: path
          description: ID of account to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        404:
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "./common_schemas.yaml#/components/schemas/ExceptionMessage"
  /account/deposit:
    post:
      tags:
        - accounts
      summary: Deposit amount to account
      description: Initiates a deposit operation of a desired amount to the account specified
      operationId: depositToAccount
      requestBody:
        description: Account number and desired amount to deposit
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositRequest"
        required: true
      responses:
        204:
          description: Success
        404:
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "./common_schemas.yaml#/components/schemas/ExceptionMessage"

  /account/withdraw:
    post:
      tags:
        - accounts
      summary: Withdraw amount from account
      description: Initiates a withdraw operation of a desired amount from the account specified
      operationId: withdrawFromAccount
      requestBody:
        description: Account number and desired amount to withdraw
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawalRequest"
        required: true
      responses:
        204:
          description: Success
        403:
          description: Insufficient funds
          content:
            application/json:
              schema:
                $ref: "./common_schemas.yaml#/components/schemas/ExceptionMessage"
        404:
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "./common_schemas.yaml#/components/schemas/ExceptionMessage"
components:
  schemas:
    Account:
      type: object
      properties:
        name:
          type: string
        accountNumber:
          type: number
        balance:
          type: number
    AccountNotFoundError:
      type: object
      properties:
        message:
          type: string
    DepositRequest:
      type: object
      properties:
        accountNumber:
          type: string
        depositAmount:
          type: number
    WithdrawalRequest:
      type: object
      properties:
        accountNumber:
          type: number
        accountName:
          type: string
        withdrawalAmount:
          type: number
